.main-game {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.game-board {
  border: 1px solid #8186c4;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-mario {
  bottom: 0px;
  height: 150px;
  position: absolute;
  width: 150px;
}

.mario-jump {
  animation: jump-animation 500ms ease-out;
}

.img-pipe {
  animation: pipe-animation 2s infinite linear;
  bottom: 0px;
  height: 80px;
  position: absolute;
  width: 80px;
}

.img-grama {
  bottom: 0px;
  height: 40px;
  position: absolute;
  width: 100%;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump-animation {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}
