.main-game {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.game-board {
  border: 1px solid #000000;
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.img-mario {
  bottom: 0px;
  height: 150px;
  position: absolute;
  width: 150px;
}

.img-pipe {
  animation: pipe-animation 2s infinite linear;
  bottom: 0px;
  height: 80px;
  position: absolute;
  width: 80px;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}
