.main-game {
  display: flex;
  height: 90vh;
  justify-content: center;
}

.game-board {
  background-image: url('../images/grama.gif');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 55px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.img-clouds {
  animation: clouds-animation 20s infinite linear;
  margin-top: 30px;
  position: absolute;
  width: 400px;
}

.img-mario {
  bottom: 0px;
  height: 150px;
  position: absolute;
  width: 150px;
  z-index: -1;
}

.mario-jump {
  animation: jump-animation 500ms ease-out;
}

.img-pipe {
  animation: pipe-animation 2s infinite linear;
  bottom: 0px;
  height: 80px;
  position: absolute;
  width: 80px;
  z-index: -1;
}

footer {
  align-items: center;
  background-image: url('../images/tijolo.png');
  background-position: center;
  background-size: auto;
  display: flex;
  height: 10vh;
  justify-content: center;
}

p {
  color: #ffffff;
}

@keyframes clouds-animation {
  from {
    right: -400px;
  }

  to {
    right: 100%;
  }
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }

  to {
    right: 100%;
  }
}

@keyframes jump-animation {
  0% {
    bottom: 0px;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0px;
  }
}
